@import 'vars';
@import 'fonts';
@import 'libs';

* {
	box-sizing: inherit;
}

.tilter {
	position: relative;
	display: block;
	flex: none;
	width: 440px;
	height: 520px;
	margin: 30px 40px;
	color: #fff;
	perspective: 1000px;
	&:last-child{
		margin-left: 0;
		margin-top: 127px;
	}
}

.tilter * {
	pointer-events: none;
}

.tilter:hover,
.tilter:focus {
	color: #fff;
	outline: none;
}

.tilter__figure,
.tilter__image {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
}

.tilter__figure > * {
	transform: translateZ(0px); /* Force correct stacking order */
}

.tilter__figure {
	position: relative;
}

.tilter__figure::before {
	content: '';
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	box-shadow: 0 30px 20px rgba(35,32,39,0.5);
}

.tilter__deco {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.tilter__deco--overlay {
	background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4));
}

.tilter__deco--shine div {
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}

.tilter__deco--lines {
	fill: none;
	stroke: #fff;
	stroke-width: 1.5px;
}

.tilter__title{
	font-family: '';
}

.quares .tilter__deco div{
	background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.5) 0,rgba(0, 0, 0, 0.45) 50%,#25242400 100%);
}

.tilter__caption {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 4em;
}

.tilter__title {
	font-family: 'Fira Sans', serif;
	font-size: 22px;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	text-align: center;
}

.header__price{
	margin-left: 30px;
}

.tilter__description {
	font-size: 0.85em;
	margin: 1em 0 0 0;
	letter-spacing: 0.15em;
}

body {
	box-sizing: border-box;
	font-family: 'Fira Sans';
	font-size: 16px;
}

.title-22{
	font-size: 22px;
	font-size: 22px;
	font-weight: 500;
}

.header__price{
	color: $light;
	font-weight: 300;
	margin-top: -80px;
}

.header__contact-btn{
	width: 100%;
	border: 2px solid $light;
	&:hover{
		background: $light;
		color: #fff;
	}
	&:first-child{
		margin-bottom: 5px;
	}
}

.header__contact{
	display: flex;
	background: #fff;
	margin-top: auto;
	height: 130px;
	padding: 0 3%;
	justify-content: space-between;
}

.header__contact-subtitle{
	font-weight: 500;
	color: #888888;
}
.header__contact-title{
	color: #444444;
}
.header__contact-wrapper{
	width: 33.333%;
	display: flex;
	
	position: relative;
	&:last-child::before{
		content: '';
		display: block;
		height: 50%;
		width: 9px;
		position: absolute;
		left: -50px;
		top: 50%;
		transform: translateY(-50%);
		background-image: url('../img/@2x/643.png');
		background-repeat: no-repeat;
	}
}

.header__contact-item{
	position: relative;
	
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	&:last-child{
	align-items: flex-end;
	padding-top: 0;
	justify-content: center;
	}
	
}

.quares{
	display: flex;
}

.container {
	height: 100vh;
	display: flex;
}

.front__img-wrapper {
	width: 35%;
	overflow: hidden;
	position: relative;
}
.header-title{
	position: absolute;
	text-align: left;
	font-size: 30px;
	bottom: 70px;
	left: 45px;
	color: $light;
	font-weight: 600;
	width: 80%;
}
.front__img {
	height: 100%;
}

.front__right {
	width: 65%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.soho-logo{
	width: 150px;
}

.container--front{
	position: relative;
	height: 90vh;
	&:after{
		position: absolute;
		display: block;
		content: '';
		width: 100%;
		height: 1px;
		background: #fff;
		opacity: 0.1;
		top: 150px;
	}
}

.nav__list-link.active{
	position: relative;
	&::after{
		content: '';
		display: block;
		height: 3px;
		width: 50px;
		background-color: $light;
		position: absolute;
		bottom: -9.5px;
	}
}

.header {
	background-color: $dark;
	width: 100%;
	display: flex;
	height: 150px;
	flex-direction: row;
	justify-content: flex-end;

	.logo-wrapper {
		
		width: 150px;
		height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;

		.logo-img {
			width: 104px;
			height: auto;
		}
	}

	.header-nav {
		display: flex;
		align-items: center;
		margin-left: auto;

		.nav__list {
			list-style: none;
			display: flex;

			.nav__list-item {
				margin-right: 25px;


			}
		}
	}
}

.header-wrapper {
	display: flex;

	.info__deals-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: 0 auto;
	}
}

.front__info .logo {
	width: 150px;
	height: 150px;
}

.nav__list-link {
	font-family: 'Roboto';
	color: #fff;
	text-decoration: none;
	font-size: 16px;

	&:hover {
		opacity: 0.6;
	}
}

.front__info {
	display: flex;
	height: 150px;
	justify-content: space-between;
	background-color: $dark;
	color: $light;

	

		.info__deals-item {
			display: flex;
			flex-direction: column;

			.info__deals-title {
				margin-bottom: 20px;
			}

			.info__deals-text {
				font-size: 20px;
				letter-spacing: 1.2px;
				font-weight: 500;
			}
		
	}
}

/* clear fix */
.grid-gallery:after {
	content: '';
	display: block;
	clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-gallery-item {
	width: 33.333333%;
  }
  
  .grid-gallery-item {
	float: left;
	margin-bottom: 10px;
  }
  
  .grid-gallery-item img {
	display: block;
	max-width: 100%;
  }
  

.info__deals {
	display: flex;
	padding: 30px 30px;
	width: 100%;
	justify-content: space-between;
}

.btn {

	background: transparent;
	padding: 4px 15px;
}

.info__deals-btn {
	border: 2px solid $light;
	color: $light;
	margin-bottom: 27px;
	transition: all 0.3s;

	&:hover {
		color: $dark;
		background-color: $light;
	}
}

.contact__right{
	height: 100%;
	width: 50%;
	display: flex;
}

.contact__right .form{
	display: flex;
	flex-wrap: wrap;
	align-self: center;
}

.contact__left{
	width: 50%;
	display: flex;
}

.contact__right .form input{
	margin-bottom: 30px;
	max-width: 200px;
	height: 30px;
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid rgba(231, 182, 155, 0.5);
	padding: 0 15px;
	color: #fff;
	&:focus{
		outline: none;
		
		border-bottom: 1px solid rgba(231, 182, 155, 1);
	}
}

.input-wrapper{
	position: relative;
}

#email-error{
	left: 52%;
}

input[name=name]{
	min-width: 100%;
}

input[name=email],input[name=tel]{
	min-width: 48%;
}

input[name=email]{
	margin-left: auto;
}

label.error{
	position: absolute;
    margin-top: 34px;
    font-size: 11px;
    color: red;
    margin-left: 15px;
}

.wrapper{
	overflow: hidden;
	background: $dark;
}

#pdf{
	display: none;
}

#pdf + label{
	padding-left: 25px;
	font-weight: 300;
	font-size: 13px;
	position: relative;
	width: 100%;
	margin-bottom: 15px;
	&:before{
		content: '';
		display: block;
		position: absolute;
		border: 1px solid #e7b69b;
		width: 15px;
		height: 15px;
		left: 0;
	}
}
	#pdf:checked + label::after{
		background-image: url('http://dev5.nikaestate.ru/wp-content/uploads/2019/02/checked.svg');
		content: '';
		display: block;
		position: absolute;
		width: 15px;
		height: 15px;
		left: 0;
		top: 0px;
		background-position: center;
		background-repeat: no-repeat;	
}

.input-wrapper{
	width: 100%;
	display: flex;
}

.contact__right .form button[type=submit]{
	display: flex;
    align-items: center;
    height: 32px;
    margin-bottom: 0px;
	padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
	background: $dark;
	border: 2px solid $light;
	color: $light;
	transition: 0.3s;
	&:hover{
		color: $dark;
		background-color: $light;
	}
}



.front__map {
	height: 72.5423077%;
}

.soho-logo--tablet{
	display: none;
}

.grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-gap: 5px;
	background-color: $dark;
}

.grid-item {
	border: 1px solid black;
	background-size: cover;
	display: flex;
	flex-direction: column;
}


.grid-item-text {
	background-color: $green;
	padding: 50px 40px;

	.grid-title {
		font-size: 30px;
		color: $light;
		font-weight: 500;
	}

	.grid-text {
		padding-top: 30px;
		color: $light;
	}
}

.grid-item-text--adv {
	text-align: center;
}

.grid-item:nth-child(1) {
	grid-area: 1/1/5/4;
}

.grid-item:nth-child(2) {
	grid-area: 1/4/2/8;
}

.grid-item:nth-child(3) {
	grid-area: 1/8/1/-1;
}

.grid-item:nth-child(4) {
	grid-area: 2/4/6/8;
}

.grid-item:nth-child(5) {
	grid-area: 2/8/7/-1;
}

.grid-item:nth-child(6) {
	grid-area: 5/1/-3/4;
}

.grid-item:nth-child(7) {
	grid-area: -6/4/-1/8;
}

.grid-item:nth-child(8) {
	grid-area: -5/8/-1/-1;
}

.grid-item:nth-child(9) {
	grid-area: -3/1/-1/3;
}

.grid-item:nth-child(10) {
	grid-area: -3/3/-1/4;
}

.location {
	background-color: $dark;
	height: 70vh;
	display: flex;
	flex-direction: column;
}

.inner-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 80px 30px 50px 30px;
	color: $light;
}

.inner__text {
	width: 50%;
	margin-left: auto;
}

.map {
	width: 100%;
	height: 100%;
}

.appartment__title {
	color: $dark;
}

.appartament {
	display: flex;
	flex-direction: column;
	height: 70vh;
	background-color: #fff;
}

.appartments__slider {
	display: flex;
	overflow: hidden;

	.owl-stage {
		display: flex;
	}
}

.slide-item {
	display: flex;
	justify-content: space-between;
	border: 2px solid $dark;
	width: 600px !important;
	height: 300px;
	background-color: #fff;
	margin: 50px;
}

.slide__right {
	padding: 25px;
	width: 50%;
	display: flex;
}

.slide__right img {
	width: 100%;
	align-self: flex-end;
}

.slide__left {
	padding: 25px 0 25px 25px;
	margin-top: auto;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.slide__btn {
	border: 2px solid $dark;
	color: #131313;
	transition: all 0.3s;

	&:hover {
		background-color: $dark;
		color: #fff;
	}
}

.slide__dsc-line {
	border-bottom: 1px solid $dark;
	display: flex;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.slide__desc-item:first-child {
	width: 50%;
}

.slide__desc {
	margin: auto 0;
}

.slide__btn {
	margin-top: auto;
}

.appartments__filter-item {
	border: none;
	background: transparent;
	padding-left: 5px;
	margin-right: 3px;
	border-right: 1px solid $dark;
	transition: all 0.3s;
	padding-right: 10px;
	&:first-child {
		padding-left: 0;
	}

	&:hover {
		opacity: 0.6;
	}
}

.appartments__filter-item.active {
	opacity: 0.6;
}

.appartament .inner-container {
	padding-bottom: 0;
}

.mockup {
	height: 70vh;
	background-color: $green;
}

.left-right-container {
	display: flex;
}

.mocup__left {
	display: flex;
	align-items: center;
}

.mocup-title {
	font-size: 30px;
	padding-right: 30px;
	margin: auto 0;
}

.mockup__right{
	margin: auto 0;
}

.building {
	height: 50vh;
	background: $dark;
}

.contact {
	height: 50vh;
	background-color: $dark;
}

.footer {
	background-color: $green;
}

.nav ul {
	list-style: none;
}

.footer__nav-list {
	padding-left: 0;
}

.footer-container {
	display: flex;
}

.footer-menu-wrapper {
	padding-right: 50px;
}

.footer__nav-btn {
	color: $light;
	border: 2px solid $light;
	margin-bottom: 10px;
	transition: all 0.3s;

	&:hover {
		color: $dark;
		background-color: $light;
	}
}

.footer__btn-list {
	display: flex;
	flex-direction: column;
	padding-left: 0;

}

.footer-menu__title {
	margin-bottom: 20px;
}

.location__title{
	margin-bottom: 20px;
}

.footer-menu-wrapper:last-child{
	padding-right: 0;
}

* {
	margin: 0;
	padding: 0; 
  }
  
  * {
	margin: 0;
	padding: 0; 
  }
  
  /* Icon 1 */
  
  #nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
	width: 60px;
	height: 45px;
	position: relative;
	margin: 50px auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
  }
  
  #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
	display: block;
	position: absolute;
	height: 9px;
	width: 100%;
	background: #d3531a;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
  }
  
  #nav-icon1 span:nth-child(1) {
	top: 0px;
  }
  
  #nav-icon1 span:nth-child(2) {
	top: 18px;
  }
  
  #nav-icon1 span:nth-child(3) {
	top: 36px;
  }
  
  #nav-icon1.open span:nth-child(1) {
	top: 18px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
  }
  
  #nav-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
  }
  
  #nav-icon1.open span:nth-child(3) {
	top: 18px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
  }
  
  /* Icon 2 */
  
  #nav-icon2 {
	  display: none;
  }
  
  #nav-icon2 span {
	display: block;
	position: absolute;
	height: 9px;
	width: 50%;
	background: #d3531a;
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
  }
  
  #nav-icon2 span:nth-child(even) {
	left: 50%;
	border-radius: 0 9px 9px 0;
  }
  
  #nav-icon2 span:nth-child(odd) {
	left:0px;
	border-radius: 9px 0 0 9px;
  }
  
  #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
	top: 0px;
  }
  
  #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
	top: 18px;
  }
  
  #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
	top: 36px;
  }
  
  #nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  #nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
  }
  
  #nav-icon2.open span:nth-child(1) {
	left: 5px;
	top: 7px;
  }
  
  #nav-icon2.open span:nth-child(2) {
	left: calc(50% - 5px);
	top: 7px;
  }
  
  #nav-icon2.open span:nth-child(3) {
	left: -50%;
	opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(4) {
	left: 100%;
	opacity: 0;
  }
  
  #nav-icon2.open span:nth-child(5) {
	left: 5px;
	top: 27px;
  }
  
  #nav-icon2.open span:nth-child(6) {
	left: calc(50% - 5px);
	top: 27px;
  }
  
  /* Icon 3 */
  
  #nav-icon3 span:nth-child(1) {
	top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	top: 18px;
  }
  
  #nav-icon3 span:nth-child(4) {
	top: 36px;
  }
  
  #nav-icon3.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
  }
  
  /* Icon 4 */
  

  
  #nav-icon4 span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(2) {
	top: 18px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
  }
  
  #nav-icon4 span:nth-child(3) {
	top: 36px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
  }
  
  #nav-icon4.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -3px;
	left: 8px;
  }
  
  #nav-icon4.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
  }
  
  #nav-icon4.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 39px;
	left: 8px;
  }

.mobile-menu{
	display: none;
	position: absolute;
	top: 0%;
	width: 100%;
	background-color: $dark;
	height: 0;
	z-index: 999;
	overflow: hidden;
	transition: all 0.7s;
}

.mobile-menu--open{
	height: 100%;
}

.bank--mobile{
	display: none;
}

.gallery__nav-block{
	height: 100px;
	display: flex;
	align-items: center;
	background-color: $green;
}

.gallery__nav{
	width: 1200px;
	margin: 0 auto;
	padding:  0 20px;
}

.gallery__list{
	list-style: none;
	padding: 0;
	display: flex;
}

.gallery__list-link{
	color: $light;
	margin-right: 15px;
	padding: 0;
	border: none;
	font: inherit;
	background-color: transparent;

}



.grid-gallery{
	background-color: $dark;
}

.gallery__list{
	margin-bottom: 0;
}

a{
	transition: 0.3s;
&:hover{
	color: #fff;
	text-decoration: none;
}
}

.wrapper-banks{
	background-color: $green;
}

.banks{
	width: 1200px;
}

.banks__table{
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.banks__row{
	display: flex;
	border-top: 1px solid $dark;
}

.bank__row-item{
	width: 25%;
}

.bank__row-item{
	padding: 25px 0;
	display: flex;
    align-items: center;
}

.bank__row-logo{
	width: 50px;
	height: auto;
}

.bank__row-title{
	margin-left: 15px;
}

.banks__row:first-child{
	font-size: 14px;
}

.bank--mobile{
	font-size: 12px;
	text-align: center;
}


@media (max-width: 992px) {
	.info__deals-item:nth-child(3){
		justify-content: space-between;
		justify-content: flex-end;
		flex-direction: row;
		flex-wrap: wrap;
		width: 236px;
	}
	.front__img-wrapper{
		display: none;
	}

	.front__right{
		width: 100%;
	}

	.front__info .logo{
		height: 100%;
		width: auto;
	}

	.left-right-container{
		flex-direction: column;
	}

	.mocup-title{
		padding-right: 0;
		padding-bottom: 50px;
	}

	.inner-container{
		padding-top: 50px;
	}

	.mocup__left{
		display: flex;
		justify-content: center;
	}

	.appartament{
		height: 50vh;
	}

	.mockup-img{
		width: 100%;
	}

	.mockup{
		height: 65vh;
	}

	
}
@media (max-width: 768px) {
	#email-error{
		left: 0;
    	bottom: 0;
	}
	.contact__right{
		width: 100%;
		justify-content: center;
	}

	.contact{
		height: 70vh;
	}

	.input-wrapper{
		flex-direction: column;
	}

	input[name=email], input[name=tel]{
		min-width: 100%;
		margin-left: unset;
	}

	.banks__table{
		flex-direction: row;
		flex-wrap: wrap;
	}

	.banks__table{
		flex-direction: row;
		flex-wrap: wrap;
	}

	.bank__row-item span:last-child{
		font-weight: 700;
	}

	.banks__row{
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 20px;
	}
	.bank__row-item{
		flex-direction: column;
		height: 100px;
		min-width: 159px;
		padding: 5px;
	}
	
	.bank__row-title{
		margin: 0;
	}
	.bank__row-item:first-child{
		height: 130px;
		
	}
	.bank--mobile{
		display: block;
	}

	.banks__row:first-child{
		display: none;
	}

	.info__deals-item:nth-child(3){
		width: unset;
	}

	.info__deals-item:nth-child(2){
		display: none;
	}
	.info__deals {
		display: flex;
		padding: 20px 20px;
		width: 100%;
		justify-content: space-between;
	}
	.header{
		justify-content: flex-start;
	}
	.soho-logo--tablet{
		display: block;
	}
	.nav-icon2{
		display: block;
	}
	.mobile-menu{
		display: block;
	}
	.slide-item{
		width: 450px !important;
	}
	.slide__desc-item:first-child{
		width: 36%;
	}

	.grid-item:nth-child(3){
		display: none;
	}

	.grid-item:nth-child(2){
		grid-area: 1/6/4/-1;
		z-index: 9;
	}

	.grid-item-text .grid-title{
		font-size: 24px;
	}
	.grid-item-text .grid-text{
		font-size: 13px;
	}
	.grid-item:nth-child(4){
		display: none;
	}
	.grid-item:nth-child(1){
		grid-area: 1/1/3/6;
	}
	.grid-item:nth-child(5){
		grid-area: 4/6/6/-1;
	}
	.grid-item:nth-child(7){
		grid-area: -9/1/-6/6;
	}
	.grid-item:nth-child(6){
		grid-area: 6/1/-3/6;
	}
	.grid-item:nth-child(9){
		grid-area: -3/1/-1/6;
	}
	.grid-item:nth-child(8){
		display: none;
	}
	.grid-item:nth-child(10){
		grid-area: -6/6/-1/-1;
	}
	.grid-item-text{
		padding: 30px 25px;
	}
	.inner__text{
		width: 100%;
	}
	.footer__nav-btn{
		font-size: 13px;
	}
	.footer__nav-list a{
		font-size: 13px;
	}
	#nav-icon2 {
		display: block;
		position: absolute;
		margin: 0;
		top: 15px;
		right: 30px;
		z-index: 9999999;
		transform: scale(.7);
	}

	#nav-icon2 span{
		height: 4px;
		border-radius: 0 !important;
		background: $light;
	}

	.mobile-menu .nav__list{
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		list-style: none;
	}

	.mobile-menu .nav__list .nav__list-item{
		margin-bottom: 15px;
	}

	.mobile-menu .nav__list .nav__list-link{
		font-size: 24px;
		font-weight: bold;
		padding-bottom: 10px;
	}
	.info__deals-btn{
		margin: 0 10px 0 10px;
		align-self: center;		
	}
	.header-wrapper .info__deals-item{
		height: 150px;
		flex-direction: row;
	}
	.front__info .logo{
		width: 50%;
	}
	.header-nav{
		display: none !important;
	}
	.header-wrapper{
		height: 100%;
	}


}

@media (max-width: 480px){
	.header{
		height: 300px;
	}

	.soho-logo--tablet{
		align-self: flex-end;
	}

	.info__deals-item:nth-child(3){
		height: 50%;
	}

	.info__deals-item:nth-child(2){
		display: none;
	}

	.front__map{
		display: none;
	}

	.front__info{
		height: 235px;
	}

	.info__deals-btn{
		width: 100%;
	}

	.info__deals{
		flex-direction: column
	}
	.container--front {
		height: unset;
	}

	.grid-item-text .grid-text {
		font-size: 12px;
		padding-top: 10px;
	}
	.grid-item-text{
		padding: 20px 20px;
	}

	.grid-item-text .grid-title {
		font-size: 18px;
	}

	.grid-item:nth-child(5){
		grid-area: 6/6/9/-1;
    	z-index: 9;
	}

	.grid-item:nth-child(1){
		display: none;
	}
	.grid-item:nth-child(2){
		grid-area: 1/1/4/-1;
	}

	.grid-item:nth-child(7) {
		grid-area: -8/1/-6/11;
	}

	.grid-item:nth-child(10){
		display: none;
	}
	.grid-item:nth-child(9) {
		grid-area: -3/1/-1/-1;
	}
	body{
		font-size: 13px;
	}

	.inner-container{
		padding: 30px 15px 20px 15px;
	}

	.slide-item{
		width: 300px !important;
		flex-direction: column;
	}

	.slide__left{
		order: 5;
		width: 100%;
		padding: 0px 20px 20px 20px;
		height: 50%;
	}

	.slide__right{
		width: 100%;
		height: 50%;
		padding: 20px;
	}

	.owl-carousel .owl-item img{
		height: 100%;
		width: auto;
		margin: auto;
	}

	.appartament{
		height: 100vh;
	}

	.appartments__slider .owl-stage-outer{
		height: 350px;
	}

	.appartments__filter{
		display: flex;
		flex-direction: column;
	}

	.appartments__filter-item{
		padding: 0;
		border: none;
		margin-top: 10px;
	}

	.mocup-title{
		font-size: 19.5px;
		padding-bottom: 20px;
	}

	.footer-menu-wrapper{
		padding-right: 0;
	}

	.footer-container{
		flex-direction: column;
	}
}

